body{
    background-color: #E7A8B1;
    font-family: 'Chakra Petch', cursive;
    color: #17183B;
}

.title-viajeEsp{
    background-color: #FDEFB0;
    font-family: 'Mynerve', cursive;
    font-size: 40px;
    color: #944654;
    text-align: center;
}

.title-comenzar{
    font-family: 'Mynerve', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .navegador{
    background-color: #B998B3;
    list-style: none;
    width: 690px;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto;

}

nav .navegador a{ /*Editando el texto (las anclas)*/
    color: #06060f;
    font-family: 'Mynerve', cursive;
    font-size: 20px;
    text-decoration: none; 
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-left: 40px;
    
}

nav .navegador .anclaUno{
    margin-left: 0%;
}

  
nav .navegador a:hover {
    text-shadow: 1px 1px 2px #06060f;
  }

.lista-ind{
    list-style: none;
    display: flex;
    justify-content: center;
  }


/***************IMAGENES****************/
.gatoPlaneta{
    width: 200px;
}

.orgUniImagenTres{
    width: 500px;

}

.imagenEstrellas{
    width: 550px;
}

.imagenPotroEstrella{
    width: 700px;
}


/***************ÍNDICE****************/

main nav{
    display: flex;
    justify-content: center;

}

nav .indice{
    background-image: url(/images/spasio.gif);
    list-style: none;
    width: 900px;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto;
}

nav .indice a{
    font-size: 40px;
    color: #CDDDDD;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-left: 40px;
}

nav .indice a:hover{
    color: #FDEFB0;
}

/***************TÍTULOS****************/

.title-topEstrellas{
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 2px #06060f;
    text-decoration-color: #CDDDDD;
    color: #40798C;
}

.title-misiones{
    text-shadow: 1px 1px 2px #06060f;
    font-size: 40px;
    color: #40798C;
}

.title-astrobiologia{
    font-size: 50px;
}

.title-origenU{
    font-size: 50px;
}

.title-origenE{
    font-size: 50px;
}

/***************LISTAS****************/
.listaUno{
    background-color: #B998B3;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.listaUno p{
    border: 5px dotted #dadce0;
}

.listaUno li{
    font-size: 30px;
    text-shadow: 3px 3px 2px #E7A8B1;
}

.imagenes-centradas{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto;
}

.imagenes-centradas img{
    margin: 5px;
    border-radius: 10px;
}

.img-estrellaUno{
    width: 300px;
}

.img-estrellaDos{
    width: 700px;
}

.img-estrellaTres{
    width: 390px;
}


.listaDos{
    font-size: 20px;
}


/***************PÁRRAFOS****************/
.p-origenUniverso{
    text-align: justify;
}

.p-astrobiologia{
    text-align: justify;
}

.p-origenEstrellas{
    text-align: justify;
}

/***************FORMULARIOS****************/

.title-formulario{
    background-color: #944654;
    font-family: 'Mynerve', cursive;
    font-size: 40px;
    color: #FDEFB0;
    text-align: center;
}

.title-edadUni{
    font-size: 25px;
    color: #944654;
    text-shadow: 3px 3px 2px #FDEFB0
}

.title-misionesApolo{
    font-size: 25px;
    color: #944654;
    text-shadow: 3px 3px 2px #FDEFB0}

.title-objetosCele{
    font-size: 25px;
    color: #944654;
    text-shadow: 3px 3px 2px #FDEFB0}

    button{
        background-color:#FDEFB0;
        border-color: 17183B;
        color: 17183B;
    }


